.navigation{
  background-color: #f1f1f1;
  font-size: 13px;
  padding: 0px 120px;
}

.navigation ul{
  list-style-type: none;
  display: flex;
  margin-left: -45px;
}

.navigation ul li a{
  text-decoration: none;
  color: black;
}

.navigation ul li{
  margin-left: 10px;
  color: gray;
}

.navigation ul li a:hover{
  color: #ff5f17;
}
/*open css content chi tiết sản phẩm*/
.content-cart {
  display: flex;
  padding-top: 40px;
  padding-left: 260px;
}

.content-cart .sanpham{
  padding-left: 5rem;
}

.content-cart .thongtin{
  max-width: 550px;
}

.content-cart .thongtin .tt-title {
  border-bottom: 1px solid #f5f5f5;
  padding-bottom: 0rem;
  font-size: 15px;
}

.content-cart .thongtin .tt-price{
  border-bottom: 0.1rem solid #f5f5f5;
  padding-bottom: 0rem;
  /*padding-top: 1rem;*/
  color: #ff5f17;
  font-size: 2rem;
  font-weight: 700;
}

.content-cart .thongtin .tt-size ul{
  list-style-type: none;
  display: flex;
  border-bottom: 1px solid #f5f5f5;
  padding-bottom: 15px;
}

.content-cart .thongtin .tt-size ul li{
  margin-left: -41px;
  margin-right: 51px;

}

.content-cart .thongtin .tt-size ul li button#size{
  width: 50px;
  height: 40px;
  background-color: white;
  font-size: 17px;
  font-weight: 600;
  border: 1px solid #f5f5f5;
}

.content-cart .thongtin .tt-size ul li button#size:focus{
  color: white;
  background-color: black;
}



.content-cart .thongtin .tt-cart .number-product{
  position: relative;
  display: inline-block;
  margin-left: 0px;
}
.content-cart .thongtin .tt-cart .number-product strong{
  height: 29px;
  font-size: 18px;
  text-align: center;
  border: 1px solid #f5f5f5;
  position: absolute;
  width: 55px;
  right: -95px;
  bottom: -6px;
}

.content-cart .thongtin .tt-cart .number-product strong:focus{
 outline: unset;
}

.content-cart .thongtin .tt-cart .number-product button.cong{
  position: absolute;
  top: -25px;
  right: -38px;
  width: 40px;
  height: 31px;
  background-color: #f5f5f5;
  font-size: 21px;
  font-weight: bold;
  border: 1px solid #f5f5f5;
}

.content-cart .thongtin .tt-cart .number-product button.tru{
  bottom: -6px;
  position: absolute;
  right: -135px;
  width: 40px;
  height: 31px;
  background-color: #f5f5f5;
  font-size: 21px;
  font-weight: bold;
  border: 1px solid #f5f5f5;
}

.content-cart .thongtin .tt-cart .add .add-cart{
  width: 351px;
  height: 60px;
  text-align: center;
  color:  #f5f5f5;
  background-color: #ff5f17;
  font-size: 15px;
  margin-left: -30px;
  border: 1px solid #f5f5f5;
}



.tt-mota p{
  margin-bottom: -5px;
}

.content-cart .thongtin .tt-cart .add{
  margin-top: 20px;
  margin-left: 30px;
}

.content-product{
  display: flex;
}

.products-name a{
  text-align: center;
  color: #252a2b;
  font-size: 50px;
  text-decoration: none;

}

.products{
  position: relative;
}

.products-name {
  text-align: center;
  padding: 60px;
}

 .products-name a:hover{
  color: #65d1e6;
}

.list-product{
  display: flex;
  margin: 0 55px;
}

.list-product .item{
  width: calc((100% )/5);
  margin-left: 25px;
  position: relative;
}

.list-product .item:hover img{
  transform: scale(1.05);/*tang kich thuoc anh khi tro vao*/
  transition: 1s;/*thoi gian chuyen dong*/
}

.list-product .item .item-sale{
  position: absolute;
  font-size: 12px;
  color: red;
  left: 10px;
  top: 10px;
  font-weight: bold;
  margin: 0;
  border: 1px solid #cccccc;
  padding: 3px 6px;
  background-color: white;
}

.list-product .item .item-images a img{
  height: 250px;
  padding-bottom: 20px;
  object-fit: cover;
  object-position: 50% 0%;
}

.list-product .item .item-content a{
  text-decoration: none;
  color: #252a2b;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: -15px;
  padding-top: 25px;
}

.list-product .item .item-content a:hover{
  color: #65d1e6;
}

.item .item-content .price{
  display: flex;
}

.item .item-content .price h4{
  color: red;
}

.item .item-content .price h5{
  margin-left: 10px;
  color: gray;
  text-decoration: line-through;
}



/*close css content giới thiệu*/